@model IEnumerable<RecipesEShop.Models.Category>
@{
    //Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title += "2";
    ViewBag.KoukouNumber += 10;
}

    <h2>Number of Categories: @ViewBag.CategoriesCount</h2>
    <div>
        @{ 
            var finalHTML = "<ol>";
            foreach(var category in Model)
            {
                finalHTML += "<li>"+ category.Name + " "
                    + category.Description + "</li>";
            }
            finalHTML += "</ol>";
        }
        @Html.Raw(finalHTML)
        <p>@ViewBag.Koukou</p>
        <div>@ViewBag.KoukouNumber</div>
        @ViewBag.staticCategory.Name
    </div>

